@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47, 1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-position: center;
  background-color: #000;
  background-size: cover;
  background-repeat: repeat-x;
  color: #fff;
  scroll-behavior: smooth;
  z-index: 0;
}

#nav {
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: inherit;
  color: white;
}

#nav a {
  color: white;
  text-decoration: none;
  margin-right: 5rem;
}

#nav #navigation {
  text-align: right;
}

/* Menu Toggle */
.humberger-menu {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: absolute;
  right: 10%;
}

.humberger-menu input {
  position: absolute;
  width: 28px;
  height: 28px;
  left: -1px;
  opacity: 0;
  cursor: pointer;
}

.humberger-menu span {
  display: none;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

.humberger-menu input:checked ~ span:nth-child(2) {
  background-color: #fff;
  transform: rotate(45deg) translate(-1px, -1px);
}

.humberger-menu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.humberger-menu input:checked ~ span:nth-child(4) {
  background-color: #fff;
  transform: rotate(-45deg) translate(-1px, 0);
}

.humberger-menu span:nth-child(2) {
  transform-origin: 0 0;
}

.humberger-menu span:nth-child(4) {
  transform-origin: 0 100%;
}

footer {
  background-color: inherit;
  color: white;
  padding: 10rem 0 0 0;

  .top {
    display: flex;
    justify-content: space-around;
    align-items: top;

    .profile {
      width: 30%;
      h3 {
        font-size: 2rem;
        font-weight: bold;
      }

      p {
        font-size: 0.9rem;
        text-align: justify;
      }
    }

    .links {
      display: flex;
      gap: 0 4rem;
    }

    ul {
      text-align: center;
      font-size: 0.9rem;

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .bottom {
    font-size: 0.9rem;
    margin-top: 20px;
    border-top: 1px solid #fff;
    text-align: center;
    padding: 10px 0;
  }
}

.whatsapp-icon {
  position: fixed;
  bottom: 4%;
  right: 3%;
}

.whatsapp-icon img {
  width: 3rem;
}

.whatsapp-icon:hover {
  scale: 1.3;
  transition: 0.3s ease-in;
}

.slider {
  transform: translateY(0%);
}

/* Anything udner 1024px */
@media screen and (max-width: 768px) {
  #nav #navigation {
    width: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 3rem 0;
    padding: 2rem 1rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: black;
    align-items: center;
    transition: all 1s;
    z-index: 998;
  }

  .humberger-menu {
    display: flex;
    z-index: 999;
  }

  .humberger-menu span {
    display: block;
  }
}
