@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47, 1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-image: url("../assets/bg-1.jpeg"); */
  background-position: center;
  background-color: #000;
  background-size: cover;
  background-repeat: repeat-x;
  color: #fff;
  z-index: 0;
}

#nav {
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: inherit;
  color: white;
}

#nav a {
  color: white;
  text-decoration: none;
  margin-right: 5rem;
}

#nav #navigation {
  text-align: center;
  width: 60%;
}

header {
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5rem;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-weight: bolder;
  font-size: 2.5rem;
}

header .sub-tagline {
  font-size: 1rem;
}

header svg {
  padding: 0 5rem;
  width: 3rem;
  color: #fff;
  cursor: pointer;
}

.about-us {
  padding: 5rem 0;
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  .description {
    display: flex;
    align-items: center;

    .title {
      width: 30%;
      font-size: 2rem;
    }

    p {
      width: 70%;
      text-align: justify;
    }
  }

  figure {
    width: 60%;
    margin: 3rem auto;
  }

  figure img {
    width: 100%;
    border-radius: 25px;
  }

  .reason {
    display: flex;
    align-items: center;

    .title {
      width: 50%;
      font-size: 1.5rem;
    }

    p {
      width: 40%;
      text-align: justify;
    }
  }
}

.services {
  width: 90%;
  padding: 5rem 0;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.services ul {
  display: flex;
  color: #000;
  gap: 0 3rem;
}

.services ul li {
  display: grid;
  gap: 0.5rem 0;
  list-style: none;
  background-color: #16c79a;
  text-align: center;
  border-radius: 20px;
  padding: 1rem;
}

.services .card-title {
  font-weight: bold;
}

.services .card-details {
  font-size: 0.8rem;
}

.services ul li:first-child {
  background-color: #7091f5;
}

.services ul li:last-child {
  background-color: #f7ec09;
}

.services .title {
  width: 40%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 9, 209, 1) 0%,
    rgba(166, 3, 230, 1) 0%,
    rgba(209, 173, 224, 1) 100%
  );
  rotate: 90deg;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #fff;
}

#user div {
  padding: 5px 15px;
  border-radius: 50%;
  background-color: grey;
}

.portfolio-container {
  height: 100vh;
  width: 90%;
  height: 100vh;
  padding: 5rem 0;
  text-align: center;
  font-size: 2rem;
  margin: 0rem auto 20rem auto;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-container .title {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(252, 255, 152, 1) 0%,
    rgba(237, 39, 200, 1) 100%
  );
  height: auto;
  rotate: -90deg;
  padding: 1rem 4rem;
  color: black;
  font-size: 1rem;
}

.portfolio-gallery {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: 2rem auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 5rem;
  justify-content: space-around;
  grid-auto-rows: 300px;
  gap: 16px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.portfolio-gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-container button,
.about-us button {
  border: 1px solid #08b027;
  background-color: inherit;
  color: #08b027;
  padding: 1rem 1.3rem;
  margin: 2rem 0;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.testimonial {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
  text-align: justify;
}

.testimonial h1 {
  font-size: 4rem;
}

.testimonial-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.testimonial-figure {
  background-color: #081c15;
  padding: 1rem;
  border-radius: 25px;
}
.testimonial img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.testimonial p {
  font-size: 0.8rem;
}

.testimonial-header {
  display: flex;
  justify-content: left;
  gap: 0 1rem;
  margin-bottom: 2rem;
}

footer {
  background-color: inherit;
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
}

.whatsapp-icon {
  position: fixed;
  bottom: 4%;
  right: 3%;
}

.whatsapp-icon img {
  width: 3rem;
}

.whatsapp-icon:hover {
  scale: 1.3;
  transition: 0.3s ease-in;
}

/* Anything udner 1024px */
/* @media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
} */
