<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/Form.css" />
    <title>Document</title>
  </head>
  <body id="Form">
    <nav>
      <a href="#service">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
          />
        </svg>
      </a>
    </nav>
    <div class="form-container">
      <form action="">
        <section>
          <div class="input">
            <label for="fname"
              >Nama Customer<span class="required-label">*</span></label
            >
            <input type="text" id="fname" autocomplete="off" required />
          </div>
        </section>
        <section>
          <div class="input">
            <label for="email"
              >Email<span class="required-label">*</span></label
            >
            <input type="text" id="email" autocomplete="off" required />
          </div>
          <div class="input">
            <label for="service"
              >Layanan <span class="required-label">*</span></label>
            <select id="Service">
              <option value="Paket Wedding 1">Paket Wedding 1</option>
              <option value="Paket Wedding 2">Paket Wedding 2</option>
              <option value="Paket Wedding 3">Paket Wedding 3</option>
              <option value="Paket Foto Sendiri SMP">Paket Foto Sendiri SMP</option>
              <option value="Paket Foto Sendiri SMA">Paket Foto Sendiri SMA</option>
              <option value="Paket Foto Berdua SMP">Paket Foto Berdua SMP</option>
              <option value="Paket Foto Berdua SMA">Paket Foto Berdua SMA</option>
              <option value="Paket Foto Classmate SMP">Paket Foto Classmate</option>
              <option value="Paket Foto Graduate Basic 1">Paket Foto Graduate Basic 1</option>
              <option value="Paket Foto Graduate Basic 2">Paket Foto Graduate Basic 2</option>
              <option value="Paket Video Cinematic Story">Paket Video Cinematic Story</option>
              <option value="Paket Video Full Movie">Paket Video Full Movie</option>
<!--               <option value="Paket Foto Sendiri SMP">
                Paket Foto Sendiri SMP
              </option>
              <option value="Paket Foto Sendiri SMA">
                Paket Foto Sendiri SMA
              </option>
              <option value="Paket Foto Berdua SMP">
                Paket Foto Berdua SMP
              </option>
              <option value="Paket Foto Berdua SMA">
                Paket Foto Berdua SMA
              </option>
              <option value="Paket Foto Bestie SMP">
                Paket Foto Bestie SMP
              </option>
              <option value="Paket Foto Bestie SMA">
                Paket Foto Bestie SMA
              </option>
              <option value="Paket Foto Teman SMP">Paket Foto Teman SMP</option>
              <option value="Paket Foto Teman SMA">Paket Foto Teman SMA</option>
              <option value="Paket Foto Classmate SMP">
                Paket Foto Classmate SMP
              </option>
              <option value="Paket Foto Classmate SMA">
                Paket Foto Classmate SMA
              </option>
              <option value="Paket Foto Graduate Basic 1">
                Paket Foto Graduate Basic 1
              </option>
              <option value="Paket Foto Graduate Basic 2">
                Paket Foto Graduate Basic 2
              </option>
              <option value="Paket Foto Graduate Silver 1">
                Paket Foto Graduate Silver 1
              </option>
              <option value="Paket Foto Graduate Silver 2">
                Paket Foto Graduate Silver 2
              </option>
              <option value="Paket Foto Graduate Gold">
                Paket Foto Graduate Gold
              </option>
              <option value="Paket Foto Graduate Platinum">
                Paket Foto Graduate Platinum
              </option>
              <option value="Paket Diamond and Private 1">
                Paket Diamond and Private 1
              </option>
              <option value="Paket Diamond and Private 2">
                Paket Diamond and Private 2
              </option>
              <option value="Paket Video Cinematic Story">
                Paket Video Cinematic Story
              </option>
              <option value="Paket Video Full Movie">
                Paket Video Full Movie
              </option> -->
            </select>
          </div>
        </section>
        <section>
          <div class="input">
            <label for="date"
              >Tanggal <span class="required-label">*</span></label
            >
            <input
              type="date"
              name="text"
              id="date"
              autocomplete="off"
              required
            />
            <!-- <script type="text/javascript">
              document.getElementById('date').value = (new Date().format("m/dd/yy"));
            </script> -->
            <!-- <script type="text/javascript">
              document.getElementById('date').value = (new Date()).format("m/dd/yy");
           </script> -->
          </div>
          <div class="input">
            <label for="time">Waktu<span class="required-label">*</span></label>
            <input type="time" id="time" autocomplete="off" required />
          </div>
        </section>
        <section>
          <div class="input-textarea">
            <label for="address"
              >Lokasi<span class="required-label">*</span></label
            >
            <textarea name="" id="address" required></textarea>
          </div>
        </section>
        <section>
          <div class="input-textarea">
            <label for="request">Catatan</label>
            <textarea name="" id="request"></textarea>
          </div>
        </section>
        <button type="submit" onclick="sendwhatsapp();">
          <a class="blink" style="color: aliceblue"> -> Booking Now <-</a>
        </button>
      </form>
      <script src="../assets/js/form.js"></script>
    </div>
  </body>
</html>
