<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Abadikan momen indah dengan fotografi terbaik. Jelajahi portofolio menakjubkan, tips, dan layanan fotografi di halaman utama kami."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" href="../assets/img/LOGO ETHEREAL NEW.png" />
    <title>Ethereal | Home</title>
  </head>
  <body>
    <nav id="nav">
      <figure
        id="logo"
        style="color: white; font-weight: bold; font-size: large"
      >
        <img
          src="../assets/img/LOGO ETHEREAL NEW.png"
          alt="logo Ethereal Photograpy"
        />
        <p>Ethereal Photograpy</p>
      </figure>

      <ul id="navigation">
        <a href="#Home" arial-label="link to home page" id="Home">Beranda</a>
        <a href="#Gallery" arial-label="link to gallery page" id="Gallery"
          >Galeri</a
        >
        <a href="#Service" arial-label="link to service page" id="Service"
          >Harga</a
        >
      </ul>
      <section class="humberger-menu">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      </section>
    </nav>

    <main id="home">
      <!-- Home Page Start -->
      <header class="header" id="hero-section">
        <div
          id="top"
          class="caption"
          data-aos="fade-up"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <div class="tagline">
            <h1>Momen Istimewa,</h1>
            <h1>Kenangan Abadi.</h1>
          </div>
          <div class="sub-tagline">
            <p>
              Biarkan kami membantu Anda menyimpan setiap momen berharga dalam
              bentuk yang indah dan tak terlupakan.
            </p>
          </div>
        </div>
        <section
          class="image-slider"
          data-aos="fade-up"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <div class="bottom-to-top">
            <figure>
              <img
                src="../assets/img/wisuda-kuliah/image-4.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-sekolah/image-5.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/Wedding/image-6.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-kuliah/image-7.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-sekolah/image-8.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-kuliah/image-6.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
          </div>
          <div class="top-to-bottom">
            <figure>
              <img
                src="../assets/img/Wedding/image-1.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-kuliah/image-2.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-sekolah/image-3.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/Wedding/image-1.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-kuliah/image-2.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-sekolah/image-3.jpg"
                loading="lazy"
                alt="slide image"
              />
            </figure>
          </div>
        </section>
      </header>
      <section class="about-us" id="about-us">
        <div class="description">
          <section class="description-content">
            <div
              class="description-title"
              data-aos="fade-right"
              data-aos-delay="50"
              data-aos-duration="1000"
            >
              <h1>Tentang Kami.</h1>
            </div>
            <p
              data-aos="fade-left"
              data-aos-delay="50"
              data-aos-duration="1000"
            >
              Ethereal Photography adalah layanan fotografi profesional di
              Tulungagung, yang fokus pada menghasilkan gambar berkualitas
              tinggi untuk berbagai acara istimewa, acara keluarga, dan proyek
              kreatif. Kami siap mengabadikan momen berharga Anda dengan visual
              yang memukau.
            </p>
            <section
              class="benefit-container"
              data-aos="fade-left"
              data-aos-delay="50"
              data-aos-duration="1000"
            >
              <h3>Mengapa memilih kami ?</h3>
              <ul class="benefit">
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="2rem"
                    height="2rem"
                    viewBox="0 0 24 24"
                  >
                    <g fill="none" stroke="currentColor">
                      <path
                        d="M14.049 5.54a1 1 0 0 1 1.071.443l.994 1.587a1 1 0 0 0 .316.316l1.587.994a1 1 0 0 1 .444 1.072l-.42 1.824a1 1 0 0 0 0 .448l.42 1.825a1 1 0 0 1-.444 1.07l-1.587.995a1 1 0 0 0-.316.316l-.994 1.587a1 1 0 0 1-1.071.444l-1.825-.42a1 1 0 0 0-.447 0l-1.825.42a1 1 0 0 1-1.071-.444l-.994-1.587a1 1 0 0 0-.317-.316l-1.586-.994a1 1 0 0 1-.444-1.071l.419-1.825a1 1 0 0 0 0-.448l-.42-1.824a1 1 0 0 1 .445-1.072l1.586-.994a1 1 0 0 0 .317-.316l.994-1.587a1 1 0 0 1 1.07-.443l1.826.419a1 1 0 0 0 .447 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m9.515 12.536l2.035 1.949l2.935-4.97"
                      />
                    </g>
                  </svg>
                  Kreativitas dan Keunikan
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="2rem"
                    height="2rem"
                    viewBox="0 0 24 24"
                  >
                    <g fill="none" stroke="currentColor">
                      <path
                        d="M14.049 5.54a1 1 0 0 1 1.071.443l.994 1.587a1 1 0 0 0 .316.316l1.587.994a1 1 0 0 1 .444 1.072l-.42 1.824a1 1 0 0 0 0 .448l.42 1.825a1 1 0 0 1-.444 1.07l-1.587.995a1 1 0 0 0-.316.316l-.994 1.587a1 1 0 0 1-1.071.444l-1.825-.42a1 1 0 0 0-.447 0l-1.825.42a1 1 0 0 1-1.071-.444l-.994-1.587a1 1 0 0 0-.317-.316l-1.586-.994a1 1 0 0 1-.444-1.071l.419-1.825a1 1 0 0 0 0-.448l-.42-1.824a1 1 0 0 1 .445-1.072l1.586-.994a1 1 0 0 0 .317-.316l.994-1.587a1 1 0 0 1 1.07-.443l1.826.419a1 1 0 0 0 .447 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m9.515 12.536l2.035 1.949l2.935-4.97"
                      />
                    </g>
                  </svg>

                  Harga Lebih Terjangkau
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="2rem"
                    height="2rem"
                    viewBox="0 0 24 24"
                  >
                    <g fill="none" stroke="currentColor">
                      <path
                        d="M14.049 5.54a1 1 0 0 1 1.071.443l.994 1.587a1 1 0 0 0 .316.316l1.587.994a1 1 0 0 1 .444 1.072l-.42 1.824a1 1 0 0 0 0 .448l.42 1.825a1 1 0 0 1-.444 1.07l-1.587.995a1 1 0 0 0-.316.316l-.994 1.587a1 1 0 0 1-1.071.444l-1.825-.42a1 1 0 0 0-.447 0l-1.825.42a1 1 0 0 1-1.071-.444l-.994-1.587a1 1 0 0 0-.317-.316l-1.586-.994a1 1 0 0 1-.444-1.071l.419-1.825a1 1 0 0 0 0-.448l-.42-1.824a1 1 0 0 1 .445-1.072l1.586-.994a1 1 0 0 0 .317-.316l.994-1.587a1 1 0 0 1 1.07-.443l1.826.419a1 1 0 0 0 .447 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m9.515 12.536l2.035 1.949l2.935-4.97"
                      />
                    </g>
                  </svg>
                  Pelayanan yang Lebih Personal
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="2rem"
                    height="2rem"
                    viewBox="0 0 24 24"
                  >
                    <g fill="none" stroke="currentColor">
                      <path
                        d="M14.049 5.54a1 1 0 0 1 1.071.443l.994 1.587a1 1 0 0 0 .316.316l1.587.994a1 1 0 0 1 .444 1.072l-.42 1.824a1 1 0 0 0 0 .448l.42 1.825a1 1 0 0 1-.444 1.07l-1.587.995a1 1 0 0 0-.316.316l-.994 1.587a1 1 0 0 1-1.071.444l-1.825-.42a1 1 0 0 0-.447 0l-1.825.42a1 1 0 0 1-1.071-.444l-.994-1.587a1 1 0 0 0-.317-.316l-1.586-.994a1 1 0 0 1-.444-1.071l.419-1.825a1 1 0 0 0 0-.448l-.42-1.824a1 1 0 0 1 .445-1.072l1.586-.994a1 1 0 0 0 .317-.316l.994-1.587a1 1 0 0 1 1.07-.443l1.826.419a1 1 0 0 0 .447 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m9.515 12.536l2.035 1.949l2.935-4.97"
                      />
                    </g>
                  </svg>

                  Respons Cepat
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="2rem"
                    height="2rem"
                    viewBox="0 0 24 24"
                  >
                    <g fill="none" stroke="currentColor">
                      <path
                        d="M14.049 5.54a1 1 0 0 1 1.071.443l.994 1.587a1 1 0 0 0 .316.316l1.587.994a1 1 0 0 1 .444 1.072l-.42 1.824a1 1 0 0 0 0 .448l.42 1.825a1 1 0 0 1-.444 1.07l-1.587.995a1 1 0 0 0-.316.316l-.994 1.587a1 1 0 0 1-1.071.444l-1.825-.42a1 1 0 0 0-.447 0l-1.825.42a1 1 0 0 1-1.071-.444l-.994-1.587a1 1 0 0 0-.317-.316l-1.586-.994a1 1 0 0 1-.444-1.071l.419-1.825a1 1 0 0 0 0-.448l-.42-1.824a1 1 0 0 1 .445-1.072l1.586-.994a1 1 0 0 0 .317-.316l.994-1.587a1 1 0 0 1 1.07-.443l1.826.419a1 1 0 0 0 .447 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m9.515 12.536l2.035 1.949l2.935-4.97"
                      />
                    </g>
                  </svg>
                  Fokus pada Kepuasan Pelanggan
                </li>
              </ul>
            </section>
          </section>
          <figure
            class="description-image"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
          >
            <img
              src="../assets/img/about-us.jpg"
              loading="lazy"
              alt="About us image"
            />
          </figure>
        </div>
      </section>
      <div
        class="services"
        id="our-services"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        <ul class="card-container">
          <li>
            <figure>
              <img
                src="../assets/img/camera.png"
                loading="lazy"
                alt="Portrait Photography"
              />
            </figure>
            <p class="card-title">Portrait Photography</p>
            <p class="card-details">
              Temukan seni potret dengan Ethereal Photography. Para fotografer
              terampil kami mengkhususkan diri dalam menangkap esensi dan
              individualitas setiap subjek.
            </p>
          </li>
          <li>
            <figure>
              <img
                src="../assets/img/camera.png"
                loading="lazy"
                alt="Product Photography"
              />
            </figure>
            <p class="card-title">Graduation Photography</p>
            <p class="card-details">
              Rayakan prestasi akademis Anda bersama Ethereal Photography. Kami
              mengabadikan kebanggaan dan kebahagiaan hari kelulusan Anda dengan
              gambar-gambar yang memukau.
            </p>
          </li>
          <li>
            <figure>
              <img
                src="../assets/img/video.png"
                loading="lazy"
                alt="Wedding Photography"
              />
            </figure>
            <p class="card-title">Wedding Photography</p>
            <p class="card-details">
              Abadikan keajaiban hari istimewa Anda dengan Ethereal Photography.
              Tim kami yang berbakat berkomitmen untuk menjaga keindahan, emosi,
              dan kebahagiaan pernikahan Anda.
            </p>
          </li>
        </ul>
        <div class="title">
          <h1>Our Services</h1>
        </div>
      </div>
      <div
        class="portfolio-container"
        id="portfolio"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        <div class="gallery">
          <div class="title">
            <h1>Portfolio</h1>
          </div>
          <div class="portfolio-gallery">
            <figure class="image-grid-col-2 image-grid-row-2">
              <img
                src="../assets/img/Wedding/image-1.jpg"
                loading="lazy"
                alt="karya 1"
              />
            </figure>
            <figure class="image-grid-col-2">
              <img
                src="../assets/img/wisuda-kuliah/image-1.jpg"
                loading="lazy"
                alt="karya 2"
              />
            </figure>
            <figure class="image-grid-col-2 image-grid-row-2">
              <img
                src="../assets/img/wisuda-sekolah/image-1.jpg"
                loading="lazy"
                alt="karya 3"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/Wedding/image-6.jpg"
                loading="lazy"
                alt="karya 4"
              />
            </figure>
            <figure>
              <img
                src="../assets/img/wisuda-kuliah/image-3.jpg"
                loading="lazy"
                alt="karya 5"
              />
            </figure>
          </div>
        </div>
        <button class="see-more">
          <a href="gallery.html" aria-label="link to gallery page"
            >View Photo Gallery</a
          >
        </button>
      </div>
      <!-- <div class="testimonials container">
                <div class="testimonial-title">
                    <h2>Testimoni</h2>
                </div>
                <div
                    class="testimonials-slider swiper"
                    data-aos="fade-up"
                    data-aos-delay="100"
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i
                                        class="bx bxs-quote-alt-left quote-icon-left"
                                    ></i>
                                    Ethereal Photography benar-benar dapat
                                    mengabadikan momen-momen indah kita dengan
                                    sempurna. Hasil fotonya bagus banget. Sangat
                                    recommended!
                                    <i
                                        class="bx bxs-quote-alt-right quote-icon-right"
                                    ></i>
                                </p>
                                <img
                                    src="../assets/img/user.jpg"
                                    class="testimonial-img"
                                    loading="lazy"
                                    alt="testimoni dari Rafli Haidar Nashif"
                                />
                                <h3>Rafli Haidar Nashif</h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i
                                        class="bx bxs-quote-alt-left quote-icon-left"
                                    ></i>
                                    Pelayanan yang ramah dan profesional bikin
                                    sesi pemotretan jadi pengalaman yang
                                    menyenangkan. Foto-fotonya sangat memuaskan
                                    dan berkualitas tinggi.
                                    <i
                                        class="bx bxs-quote-alt-right quote-icon-right"
                                    ></i>
                                </p>
                                <img
                                    src="../assets/img/user.jpg"
                                    class="testimonial-img"
                                    loading="lazy"
                                    alt="testimoni dari Maulana Haqi"
                                />
                                <h3>Maulana Haqi</h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i
                                        class="bx bxs-quote-alt-left quote-icon-left"
                                    ></i>
                                    Dari awal hingga akhir, Ethereal Photography
                                    memberikan layanan yang luar biasa. Hasil
                                    foto pernikahan kami begitu indah dan
                                    mengesankan. Terima kasih banyak ya!
                                    <i
                                        class="bx bxs-quote-alt-right quote-icon-right"
                                    ></i>
                                </p>
                                <img
                                    src="../assets/img/user.jpg"
                                    class="testimonial-img"
                                    loading="lazy"
                                    alt="testimoni dari Moh Rendy Prasetyo"
                                />
                                <h3>Moh Rendy Prasetyo</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="owl-carousel testimonials-carousel"></div>
            </div> -->
      <!-- Home Page End -->
    </main>

    <footer id="footer">
      <section class="top">
        <div class="profile">
          <h3>Ethereal</h3>
          <p>
            Mengabadikan setiap momen berharga Anda dengan sentuhan seni dan
            profesionalisme
          </p>
        </div>
        <div class="links">
          <div>
            <h3>Company</h3>
            <ul>
              <li><a href="#about-us">About Us</a></li>
              <li><a href="#our-services">Our Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#testimoni">Testimoni</a></li>
            </ul>
          </div>
          <div>
            <h3>Links</h3>
            <ul>
              <li><a href="">Gallery</a></li>
              <li><a href="">Services</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="bottom">@2024 Ethereal Photograpy</div>
    </footer>
    <div id="back-to-top">
      <a href="#top">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M11.47 2.47a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06l-6.22-6.22V21a.75.75 0 0 1-1.5 0V4.81l-6.22 6.22a.75.75 0 1 1-1.06-1.06l7.5-7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>

    <script src="../js/main.js"></script>
    <!-- <script src="../assets/js/home.js"></script> -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
