.active {
  background-color: #fff !important;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
}

.content-container {
  background-color: white;
  border-top-right-radius: 20px;
  padding: 2rem;
}

.container-active {
  display: grid !important;
}

.top-buttons {
  display: flex;
  justify-content: flex-start;
}

.filter-button {
  background-color: gray;
  border: none;
  padding: 1rem 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #fff;
}

.gallery-container {
  width: 100%;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

.gallery-item {
  background-color: #ccc;
  padding-top: 100%;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery-item img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gallery-item .view-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .view-button {
  opacity: 1;
}

.view-button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #8a2be2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 35px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery-container {
    grid-template-columns: 1fr;
  }
}
