* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  max-width: 90%;
  max-height: 100%;
  margin: 5rem auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10rem;
  overflow: hidden;
  height: 100%;
  color: #fff;
  font-weight: bolder;
  font-size: 2.5rem;
  padding: 5rem 0 10rem 0;
}

header .caption {
  width: 50%;
  height: 100%;
}

header .sub-tagline {
  font-size: 1rem;
}

header svg {
  padding: 0 5rem;
  width: 3rem;
  color: #fff;
  cursor: pointer;
}

header .image-slider {
  width: 45%;
  height: 300px;
  display: flex;
  gap: 2rem;
  rotate: 20deg;
}

.image-slider .bottom-to-top {
  height: calc(300px * 12);
  animation: loop 30s linear infinite;
}

.image-slider .top-to-bottom {
  height: calc(300px * 12);
  animation: loop2 30s linear infinite;
}

.image-slider figure {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.image-slider figure img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.about-us {
  padding: 10rem 0 5rem 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;

  .description {
    display: flex;
    align-items: center;

    .title {
      width: 30%;
      font-size: 2rem;
    }

    p {
      width: 70%;
      text-align: justify;
    }
  }

  figure {
    width: 60%;
    margin: 3rem auto;
  }

  figure img {
    width: 100%;
    border-radius: 25px;
  }

  .reason {
    display: flex;
    align-items: center;

    .title {
      width: 50%;
      font-size: 1.5rem;
    }

    p {
      width: 50%;
      text-align: justify;
    }
  }
}

.services {
  width: 90%;
  padding: 10rem 0;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.services .title {
  font-size: 0.5rem;
}

.services ul {
  display: flex;
  color: #000;
  gap: 0 3rem;
}

.services ul li {
  display: grid;
  gap: 0.5rem 0;
  list-style: none;
  background-color: #16c79a;
  text-align: center;
  border-radius: 20px;
  padding: 2rem 1rem;
}

.services .card-title {
  font-weight: bold;
}

.services .card-details {
  font-size: 0.8rem;
}

.services ul li:first-child {
  background-color: #7091f5;
}

.services ul li:last-child {
  background-color: #f7ec09;
}

.services .title {
  text-align: center;
  width: 40%;
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 9, 209, 1) 0%,
    rgba(166, 3, 230, 1) 0%,
    rgba(209, 173, 224, 1) 100%
  );
  rotate: 90deg;
  padding: 1rem 1rem;
  font-size: 0.8rem;
  color: #fff;
}

.services svg {
  width: 2rem;
  margin: auto;
  cursor: pointer;
}

#user div {
  padding: 5px 15px;
  border-radius: 50%;
  background-color: grey;
}

.portfolio-container {
  width: 90%;
  height: 100%;
  padding: 5rem 0;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 10rem auto;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery button a {
  text-decoration: none;
}

.portfolio-container .title {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(252, 255, 152, 1) 0%,
    rgba(237, 39, 200, 1) 100%
  );
  height: auto;
  rotate: -90deg;
  padding: 1rem 4rem;
  color: black;
  font-size: 1rem;
}

.portfolio-gallery {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: 2rem auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 5rem;
  justify-content: space-around;
  grid-auto-rows: 300px;
  gap: 16px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.portfolio-gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-container button,
.about-us button {
  border: 1px solid #08b027;
  background-color: inherit;
  color: #08b027;
  padding: 1rem 1.3rem;
  margin: 2rem 0;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.testimonials {
  width: 90%;
  margin: 1rem auto;
}

.testimonial-title {
  margin-bottom: 1rem;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 4rem;
  height: 4rem;
  object-fit: fill;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #fff;
}

.testimonials .testimonial-item h3 a {
  color: white;
}

.testimonials .testimonial-item h3 a:hover {
  color: #12d640;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.25);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 0;
  padding: 20px 20px 60px 20px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e;
}

@keyframes loop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-250px * 6));
  }
}

@keyframes slideHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}

@keyframes loop2 {
  0% {
    transform: translateY(calc(-250px * 6));
  }
  100% {
    transform: translateY(calc(0));
  }
}

@media screen and (max-width: 768px) {
  header {
    margin-top: 0;
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    padding: 0;
  }

  header .caption {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
    width: 100%;
    padding: 10rem 0 0 0;
  }

  header .image-slider {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    rotate: 0deg;
  }

  .image-slider .bottom-to-top,
  .image-slider .top-to-bottom {
    height: 100%;
    width: calc(250px * 12);
    animation: slideHorizontal 20s linear infinite;
    display: flex;
    gap: 2rem;
  }

  .image-slider figure {
    width: 250px;
    flex-direction: row;
    gap: 0 2rem;
  }

  .about-us {
    width: 100%;

    .description {
      width: 90%;
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
      gap: 1rem 0;

      .title {
        width: 100%;
        font-size: 2rem;
      }

      p {
        width: 100%;
        text-align: justify;
      }
    }

    figure {
      width: 90%;
    }

    .reason {
      width: 90%;
      flex-direction: column;
      gap: 1rem 0;
      text-align: center;
      margin: 0 auto;

      .title {
        width: 100%;
        font-size: 1rem;
      }

      p {
        width: 100%;
        text-align: justify;
      }
    }
  }

  .services {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .title {
      text-align: center;
      width: 90%;
      order: 1;
      margin: 2rem 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(49, 9, 209, 1) 0%,
        rgba(166, 3, 230, 1) 0%,
        rgba(209, 173, 224, 1) 100%
      );
      rotate: 0deg;
      padding: 1rem 3rem;
      font-size: 0.8rem;
      color: #fff;
    }

    ul {
      order: 2;
      flex-direction: column;
      row-gap: 2rem;
    }
  }

  .portfolio-container {
    margin: 0 auto 5rem auto;
  }

  .gallery {
    width: 90%;
    margin: 0 auto 0 auto;
    flex-direction: column;

    .title {
      rotate: 0deg;
    }
  }

  .portfolio-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
  }

  .testimonial-list {
    display: flex;
    overflow-x: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .testimonial::-webkit-scrollbar {
    display: none;
  }
}
