<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/Gallery.css" />
    <title>Ethereal</title>
  </head>
  <body>
    <!-- Gallery Page Start -->
    <div class="main-container">
      <div class="top-buttons">
        <button class="filter-button active book-1">Book 1</button>
        <button class="filter-button book-2">Book 2</button>
        <button class="filter-button book-3">Book 3</button>
      </div>
      <div class="content-container" id="Gallery">
        <div class="gallery-container book-1 container-active">
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 1" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 2" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 3" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 4" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 1" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 2" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 3" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 4" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
        </div>
        <div class="gallery-container book-2">
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 1" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 2" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 3" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 4" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 1" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 2" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 3" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 4" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
        </div>
        <div class="gallery-container book-3">
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 1" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 2" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 3" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 4" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 1" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 2" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 3" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 4" />
            <button class="view-button" onclick="viewImage(this)">View</button>
          </div>
        </div>
      </div>

      <div id="imageModal" class="modal">
        <div>
          <span class="close" onclick="closeModal()">&times;</span>
          <img class="modal-content" id="fullImage" />
        </div>
      </div>
    </div>

    <!-- Gallery Page End -->
    <script src="../assets/js/gallery.js"></script>
  </body>
</html>
