<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/Gallery.css" />
    <title>Ethereal</title>
  </head>
  <body>
    <!-- Gallery Page Start -->
    <div class="main-container">
      <div class="top-buttons">
        <button class="filter-button active">Book 1</button>
        <button class="filter-button">Book 2</button>
        <button class="filter-button">Book 3</button>
      </div>
      <div class="content-container" id="Gallery">
        <div class="gallery-container container-active">
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 1" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 2" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 3" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 4" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 1" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 2" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 3" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-1.jpeg" alt="Image 4" />
            <button
              class="view-button"
              data-group="book-1"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
        </div>
        <div class="gallery-container">
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 1" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 2" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 3" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 4" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 1" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 2" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 3" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-2.jpeg" alt="Image 4" />
            <button
              class="view-button"
              data-group="book-2"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
        </div>
        <div class="gallery-container">
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 1" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 2" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 3" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 4" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 1" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 2" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 3" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
          <div class="gallery-item">
            <img src="../assets/img/model-3.jpeg" alt="Image 4" />
            <button
              class="view-button"
              data-group="book-3"
              onclick="viewImage(this)"
            >
              View
            </button>
          </div>
        </div>
      </div>

      <div id="imageModal" class="modal">
        <div>
          <img class="modal-content" id="fullImage" />
          <aside class="navigation-modal">
            <span class="close">&times;</span>
            <ul class="image-list"></ul>
          </aside>
          <h1><span class="image-index">00</span>/08</h1>
        </div>
      </div>
    </div>

    <!-- Gallery Page End -->
    <script src="../assets/js/gallery.js"></script>
  </body>
</html>
