<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/Gallery.css" />
    <title>Ethereal</title>
  </head>
  <body>
    <!-- Gallery Page Start -->
    <div class="main-container">
      <div class="top-buttons">
        <button class="filter-button active">Graduation</button>
        <button class="filter-button">Graduation</button>
        <button class="filter-button">Wedding</button>
      </div>
      <div class="content-container" id="Gallery">
        <div class="gallery-container container-active" id="potrait">
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-1.jpg"
              alt="Image 1"
              class="image-item"
              data-group="book-1"
            />
          </div>
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-2.jpg"
              alt="Image 2"
              class="image-item"
              data-group="book-1"
            />
          </div>
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-3.jpg"
              alt="Image 3"
              class="image-item"
              data-group="book-1"
            />
          </div>
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-4.jpg"
              alt="Image 4"
              class="image-item"
              data-group="book-1"
            />
          </div>
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-5.jpg"
              alt="Image 1"
              class="image-item"
              data-group="book-1"
            />
          </div>
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-6.jpg"
              alt="Image 2"
              class="image-item"
              data-group="book-1"
            />
          </div>
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-7.jpg"
              alt="Image 3"
              class="image-item"
              data-group="book-1"
            />
          </div>
          <div class="gallery-item" data-group="book-1">
            <img
              src="../assets/img/wisuda-sekolah/image-8.jpg"
              alt="Image 4"
              class="image-item"
              data-group="book-1"
            />
          </div>
        </div>
        <div class="gallery-container" id="graduation">
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-1.jpg"
              alt="Image 1"
              class="image-item"
              data-group="book-2"
            />
          </div>
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-2.jpg"
              alt="Image 2"
              class="image-item"
              data-group="book-2"
            />
          </div>
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-3.jpg"
              alt="Image 3"
              class="image-item"
              data-group="book-2"
            />
          </div>
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-4.jpg"
              alt="Image 4"
              class="image-item"
              data-group="book-2"
            />
          </div>
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-5.jpg"
              alt="Image 1"
              class="image-item"
              data-group="book-2"
            />
          </div>
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-6.jpg"
              alt="Image 2"
              class="image-item"
              data-group="book-2"
            />
          </div>
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-7.jpg"
              alt="Image 3"
              class="image-item"
              data-group="book-2"
            />
          </div>
          <div class="gallery-item" data-group="book-2">
            <img
              src="../assets/img/wisuda-kuliah/image-8.jpg"
              alt="Image 4"
              class="image-item"
              data-group="book-2"
            />
          </div>
        </div>
        <div class="gallery-container" id="wedding">
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-1.jpg"
              alt="Image 1"
              class="image-item"
              data-group="book-3"
            />
          </div>
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-2.jpg"
              alt="Image 2"
              class="image-item"
              data-group="book-3"
            />
          </div>
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-3.jpg"
              alt="Image 3"
              class="image-item"
              data-group="book-3"
            />
          </div>
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-4.jpg"
              alt="Image 4"
              class="image-item"
              data-group="book-3"
            />
          </div>
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-5.jpg"
              alt="Image 1"
              class="image-item"
              data-group="book-3"
            />
          </div>
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-6.jpg"
              alt="Image 2"
              class="image-item"
              data-group="book-3"
            />
          </div>
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-7.jpg"
              alt="Image 3"
              class="image-item"
              data-group="book-3"
            />
          </div>
          <div class="gallery-item" data-group="book-3">
            <img
              src="../assets/img/Wedding/image-8.jpg"
              alt="Image 4"
              class="image-item"
              data-group="book-3"
            />
          </div>
        </div>
      </div>

      <div id="imageModal" class="modal">
        <div>
          <div class="modal-container">
            <i class="bx bxs-chevron-left prev-icon"></i>
            <img class="modal-content" id="fullImage" />
            <i class="bx bxs-chevron-right next-icon"></i>
          </div>
          <aside class="navigation-modal">
            <span class="close">&times;</span>
            <ul class="image-list"></ul>
          </aside>
          <h1><span class="image-index">00</span>/08</h1>
        </div>
      </div>
    </div>

    <!-- Gallery Page End -->
    <script src="../assets/js/gallery.js"></script>
  </body>
</html>
