<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <title>Ethereal</title>
  </head>
  <body>
    <!-- Home Page Start -->
    <header class="header" id="home">
      <div
        id="top"
        class="caption"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        <div class="tagline">
          <h1>Momen Istimewa,</h1>
          <h1>Kenangan Abadi.</h1>
        </div>
        <div class="sub-tagline">
          <p>
            Biarkan kami membantu Anda menyimpan setiap momen berharga dalam
            bentuk yang indah dan tak terlupakan.
          </p>
        </div>
      </div>
      <div
        class="image-slider"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        <div class="bottom-to-top">
          <figure>
            <img
              src="../assets/img/wisuda-kuliah/image-4.jpg"
              alt="slide image"
            />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-sekolah/image-5.jpg"
              alt="slide image"
            />
          </figure>
          <figure>
            <img src="../assets/img/Wedding/image-6.jpg" alt="slide image" />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-kuliah/image-7.jpg"
              alt="slide image"
            />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-sekolah/image-8.jpg"
              alt="slide image"
            />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-kuliah/image-6.jpg"
              alt="slide image"
            />
          </figure>
        </div>
        <div class="top-to-bottom">
          <figure>
            <img src="../assets/img/Wedding/image-1.jpg" alt="slide image" />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-kuliah/image-2.jpg"
              alt="slide image"
            />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-sekolah/image-3.jpg"
              alt="slide image"
            />
          </figure>
          <figure>
            <img src="../assets/img/Wedding/image-1.jpg" alt="slide image" />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-kuliah/image-2.jpg"
              alt="slide image"
            />
          </figure>
          <figure>
            <img
              src="../assets/img/wisuda-sekolah/image-3.jpg"
              alt="slide image"
            />
          </figure>
        </div>
      </div>
    </header>
    <div class="about-us" id="about-us">
      <div class="description">
        <div
          class="title"
          data-aos="fade-right"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <h1>Tentang Kami.</h1>
        </div>
        <p data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
          Ethereal Photography adalah layanan fotografi profesional yang
          berlokasi di Tulungagung. Kami berdedikasi untuk menangkap keindahan
          dan keajaiban setiap momen istimewa Anda melalui lensa kamera kami.
          Sebagai bisnis kecil fotografi yang penuh dedikasi dan passion, kami
          mengkhususkan diri dalam menghadirkan gambar-gambar berkualitas tinggi
          yang menceritakan kisah unik Anda. Baik itu acara istimewa, potret
          keluarga, atau proyek kreatif, kami berkomitmen untuk memberikan
          layanan luar biasa dan visual yang memukau. Biarkan kami membantu Anda
          mengabadikan momen-momen berharga Anda.
        </p>
      </div>
      <figure data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
        <img src="../assets/img/about-us.jpg" alt="About us image" />
      </figure>
      <div
        class="reason"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        <div
          class="title"
          data-aos="fade-right"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <h1>Mengaopa</h1>
          <h1>Ethereal Photography?</h1>
        </div>
        <p data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
          Di Ethereal Photography, kami percaya bahwa setiap gambar menceritakan
          sebuah cerita. Tim fotografer kami yang terampil berkomitmen untuk
          menangkap esensi dari momen-momen paling berharga Anda dengan
          kreativitas dan presisi. Kami bangga dengan visi artistik kami,
          perhatian terhadap detail, dan pendekatan yang personal. Dengan
          memilih Ethereal Photography, Anda tidak hanya mendapatkan foto-foto
          yang indah, tetapi juga menginvestasikan dalam kenangan yang abadi.
          Biarkan kami mengubah momen-momen Anda menjadi karya seni yang
          timeless.
        </p>
      </div>
    </div>
    <div
      class="services"
      id="our-services"
      data-aos="fade-up"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <ul class="card-container">
        <li>
          <figure>
            <img src="../assets/img/camera.png" alt="Portrait Photography" />
          </figure>
          <p class="card-title">Portrait Photography</p>
          <p class="card-details">
            Temukan seni potret dengan Ethereal Photography. Para fotografer
            terampil kami mengkhususkan diri dalam menangkap esensi dan
            individualitas setiap subjek.
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </li>
        <li>
          <figure>
            <img src="../assets/img/camera.png" alt="Product Photography" />
          </figure>
          <p class="card-title">Graduation Photography</p>
          <p class="card-details">
            Rayakan prestasi akademis Anda bersama Ethereal Photography. Kami
            mengabadikan kebanggaan dan kebahagiaan hari kelulusan Anda dengan
            gambar-gambar yang memukau.
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </li>
        <li>
          <figure>
            <img src="../assets/img/video.png" alt="Wedding Photography" />
          </figure>
          <p class="card-title">Wedding Photography</p>
          <p class="card-details">
            Abadikan keajaiban hari istimewa Anda dengan Ethereal Photography.
            Tim kami yang berbakat berkomitmen untuk menjaga keindahan, emosi,
            dan kebahagiaan pernikahan Anda.
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </li>
      </ul>
      <div class="title">
        <h1>Our Services</h1>
      </div>
    </div>
    <div
      class="portfolio-container"
      id="portfolio"
      data-aos="fade-up"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div class="gallery">
        <div class="title">
          <h1>Portfolio</h1>
        </div>
        <div class="portfolio-gallery">
          <figure class="image-grid-col-2 image-grid-row-2">
            <img src="../assets/img/Wedding/image-1.jpg" alt="karya 1" />
          </figure>
          <figure class="image-grid-col-2">
            <img src="../assets/img/wisuda-kuliah/image-1.jpg" alt="karya 2" />
          </figure>
          <figure class="image-grid-col-2 image-grid-row-2">
            <img src="../assets/img/wisuda-sekolah/image-1.jpg" alt="karya 3" />
          </figure>
          <figure>
            <img src="../assets/img/Wedding/image-6.jpg" alt="karya 4" />
          </figure>
          <figure>
            <img src="../assets/img/wisuda-kuliah/image-3.jpg" alt="karya 5" />
          </figure>
        </div>
      </div>
      <button class="see-more">
        <a href="#gallery">See More</a>
      </button>
    </div>
    <div class="testimonials container">
      <div class="testimonial-title">
        <h2>Testimoni</h2>
      </div>
      <div
        class="testimonials-slider swiper"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Ethereal Photography benar-benar dapat mengabadikan momen-momen
                indah kita dengan sempurna. Hasil fotonya bagus banget. Sangat
                recommended!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="../assets/img/user.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Rafli Haidar Nashif</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Pelayanan yang ramah dan profesional bikin sesi pemotretan jadi
                pengalaman yang menyenangkan. Foto-fotonya sangat memuaskan dan
                berkualitas tinggi.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="../assets/img/user.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Maulana Haqi</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Dari awal hingga akhir, Ethereal Photography memberikan layanan
                yang luar biasa. Hasil foto pernikahan kami begitu indah dan
                mengesankan. Terima kasih banyak ya!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="../assets/img/user.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Moh Rendy Prasetyo</h3>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="owl-carousel testimonials-carousel"></div>
    </div>
    <!-- Home Page End -->

    <script src="../assets/js/home.js"></script>
  </body>
</html>
