<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/Service.css" />
    <title>Ethereal</title>
  </head>
  <body>
    <!-- Service Page Start -->
    <div
      class="container"
      id="Service"
      data-aos="fade-up"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div class="title">
        <h1>Our Packages</h1>
      </div>
      <div class="box-container">
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/wedding/DSCF2849.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Wedding 1</h3>
              <h2 class="price">Rp.1.000.000</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Maksimal waktu 7 jam</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>50+ foto edit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 flashdisk all foto</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>-</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>-</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>-</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#form">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/wedding/OLIX0562.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Wedding 2</h3>
              <h2 class="price">Rp.2.000.000</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Maksimal waktu 8 jam</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 pcs album</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>80 foto cetak</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 cetak 12rs</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>60+ foto edit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 flashdisk all</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#form">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Wedding 3</h3>
              <h2 class="price">Rp.3.000.000</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>3 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Maksimum waktu 9 jam</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 pcs album</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>120+ foto edit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>4 rol cetak (144 pcs)</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 cetak 12rs</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 flashdisk all foto</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Sendiri</h3>
              <h2 class="price">200k (SMP)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 30 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>10 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-container">
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Sendiri</h3>
              <h2 class="price">250k (SMA)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 30 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>10 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Berdua</h3>
              <h2 class="price">350k (SMP)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 Orang</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 60 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>20 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Berdua</h3>
              <h2 class="price">350k (SMP)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 Orang</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 60 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>20 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Fotografi dan Videografi Wedding</h3>
              <h2 class="price">500K</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>45 minutes session</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>25 Edited Images</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Outfit Change</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>One Location</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Online Gallery</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div> 
          </div>
        </div>
      </div>
      <div class="box-container">
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Sendiri</h3>
              <h2 class="price">250k (SMA)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 30 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>10 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Berdua</h3>
              <h2 class="price">350k (SMP)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 Orang</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 60 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>20 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Berdua</h3>
              <h2 class="price">350k (SMP)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 Orang</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 60 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>20 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Fotografi dan Videografi Wedding</h3>
              <h2 class="price">500K</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>45 minutes session</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>25 Edited Images</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Outfit Change</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>One Location</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Online Gallery</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div> 
          </div>
        </div>
      </div>
      <div class="box-container">
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Sendiri</h3>
              <h2 class="price">250k (SMA)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 30 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>10 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Berdua</h3>
              <h2 class="price">350k (SMP)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 Orang</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 60 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>20 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Paket Foto Berdua</h3>
              <h2 class="price">350k (SMP)</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Fotografer</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>2 Orang</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Max 60 menit</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Peralatan Full set</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Hight resolution </p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>20 Foto edit + mentahan</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Foto Only</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Unlimited photo 100+</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div>
          </div>
        </div>
        
        <div class="box">
          <div class="img">
            <img
              src="../assets/img/images.jpg"
              alt="slide image"
              class="hover-img"
            />
          </div>
          <div class="help">
            <div class="text">
              <h3>Fotografi dan Videografi Wedding</h3>
              <h2 class="price">500K</h2>
              <ul>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>45 minutes session</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>25 Edited Images</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>1 Outfit Change</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>One Location</p>
                </li>
                <li>
                  <img src="../assets/img/check.png" alt="" />
                  <p>Online Gallery</p>
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="#" id="popupButton">Book Now</a>
            </div> 
          </div>
        </div>
      </div>
    </div>
    
    <!-- Service Page End -->
    <script src="../assets/js/service.js"></script>
    <script
      src="../assets/vendor/jquery/jquery.min.js"
      type="text/javascript"
    ></script>
    <script
      src="../assets/vendor/jquery.easing/jquery.easing.min.js"
      type="text/javascript"
    ></script>
    <script
      src="../assets/vendor/waypoints/jquery.waypoints.min.js"
      type="text/javascript"
    ></script>
  </body>
</html>
