<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/Service.css" />
    <title>Ethereal</title>
  </head>
  <body>
    <!-- Service Page Start -->
    <div class="container" id="Service">
      <div class="box">
        <div class="img">
          <img
            src="../assets/img/images.jpg"
            alt="slide image"
            class="hover-img"
          />
        </div>
        <div class="help">
          <div class="text">
            <h3>Fotografi dan Videografi Wedding</h3>
            <a
              >Layanan fotografi wedding kami dirancang untuk mengabadikan
              momen-momen istimewa di hari pernikahan Anda. Kami menawarkan
              berbagai paket yang dapat disesuaikan dengan kebutuhan dan
              anggaran Anda. Mulai dari sesi pre-wedding, dokumentasi acara dari
              persiapan hingga resepsi, hingga album foto eksklusif. Dengan
              fotografer berpengalaman, kami memastikan setiap detil dan emosi
              tertangkap dengan sempurna.</a
            >
          </div>
          <div class="button">
            <a href="#" id="popupButton">Click me</a>
          </div>

          <div id="popup" class="popup">
            <div class="popup-content">
              <span class="close">&times;</span>
              <p>This is a popup message!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service Page End -->
    <script src="../assets/js/service.js"></script>
  </body>
</html>
